<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967955530198-jsl8c8uopcs2ncd0dnu6j3eejmgmk5bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967955530198-jsl8c8uopcs2ncd0dnu6j3eejmgmk5bd</string>
	<key>API_KEY</key>
	<string>AIzaSyCvXwakfqdHBzktGMZZHQmdp8d3pTdzc2w</string>
	<key>GCM_SENDER_ID</key>
	<string>967955530198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttercourse</string>
	<key>PROJECT_ID</key>
	<string>fluttercourse-541dd</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttercourse-541dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967955530198:ios:982f055178c443006be477</string>
</dict>
</plist>